* {
    font-family: "Inter", sans-serif;
    color: "#fff";
    /* font-size: 1rem; */
    scroll-behavior: smooth;
  }
  body{
    font-size: 10px;
    font-weight: 500;
    color: "#fff";
  
  }
  @media (min-width: 1024px) {
    body{
      font-size: 16px;
    }
  }